{% extends "Base.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<br>

<div class="container">
  <div class="card-group justify-content-center">
    <div class="card text-white bg-dark mb-3 col-3" style="max-width: 28rem;">
      <div class="card-body">
        <h4 class="card-title">Login</h4>
        <p class="card-text">
          login
        </p>
        <a href="/Search" class="btn btn-warning text-dark stretched-link">Start Searching</a>
      </div>
    </div>
    
    <div class="card text-white bg-secondary mb-3 col-3" style="max-width: 28rem;">
      <div class="card-body">
        <h4 class="card-title">Table</h4>
        <p class="card-text">
          Table
        </p>
        <a href="/EPI_Search" class="btn btn-warning text-dark stretched-link">Start Searching</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}