{% extends "Base.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<br>

<div class="container">
  <div class="card-group justify-content-center">
    <div class="card text-white bg-dark mb-3 col-3" style="max-width: 28rem;">
      <div class="card-body">
        <h4 class="card-title">Newborn Rescuscitations</h4>
        <h6 class="card-subtitle text-warning mb-2">Timelines</h6>
        <p class="card-text">
          Timelines of Newborn Rescuscitations (NR). List all timelines or a just a selection.
          See the data, and a visualization of the data, for any timeline.
        </p>
        <a href="/Search" class="btn btn-warning text-dark stretched-link">Start Searching</a>
      </div>
    </div>
    
    <div class="card text-white bg-secondary mb-3 col-3" style="max-width: 28rem;">
      <div class="card-body">
        <h4 class="card-title">OHCA Resuscitations</h4>
        <h6 class="card-subtitle text-warning mb-2">Timelines</h6>
        <p class="card-text">
          Timelines from Out-of-Hospital Cardiac Arrest (OHCA) resuscitations. List all entries or a just a selection.
          See the data, and a visualization of the data, for any timeline.
        </p>
        <a href="/EPI_Search" class="btn btn-warning text-dark stretched-link">Start Searching</a>
      </div>
    </div>
  </div>

  <br>

  <div class="card-group justify-content-center">
    <div class="card text-white bg-secondary mb-3 col-3" style="max-width: 28rem;">
      <div class="card-body">
        <h4 class="card-title">Newborn Rescuscitations</h4>
        <h6 class="card-subtitle text-warning mb-2">Statistics</h6>
        <p class="card-text">
          Look at some statistics for all the Newborn Rescuscitations. You can also choose to look at a smaller selection of data.
        </p>
        <a href="/Median" class="btn btn-warning text-dark stretched-link">Start Searching</a>
      </div>
    </div>
  
    <div class="card text-white bg-dark mb-3 col-3" style="max-width: 28rem;">
      <div class="card-body">
        <h4 class="card-title">Search the database with SQL</h4>
        <p class="card-text">
          Know SQL? Create SQL queries and run them on this read only version of all the
          database tables. Perfect for complex analysis as well as looking up something we might have 
          forgotten to include elsewhere. 
        </p>
        <a href="/SQL" class="btn btn-warning text-dark stretched-link">Start Searching</a>
      </div>
    </div>


  </div>
</div>
{% endblock %}